<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}   <!-- insère le champ csrf_token caché -->
        <label for="courriel">Courriel:</label>
        {{ form.courriel() }}<br><br>

        <label for="mot_de_passe">Mot de passe:</label>
        {{ form.mot_de_passe() }}<br><br>

        <label for="remember">
            {{ form.remember() }} Se souvenir de moi
        </label><br><br>

        {{ form.submit() }}   
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}    
    <p>Pas de compte ? <a href="{{ url_for('inscription') }}">S'inscrire</a></p>

   {% if form.errors %}
  <ul class="errors">
    {% for field, errors in form.errors.items() %}
      {% for err in errors %}
        <li>{{ err }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
</body>     
</html>