<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enregistrement</title>
</head>
<body>
    <h1>Enregistrement</h1>
    <form action="{{ url_for('inscription') }}" method="post">
        {{ form.hidden_tag() }}  <!-- insère le champ csrf_token caché -->
        <label for="nom">Nom:</label>
        {{ form.nom() }}<br><br>

        <label for="courriel">Courriel:</label>
        {{ form.courriel() }}<br><br>

        <label for="mot_de_passe">Mot de passe:</label>
        {{ form.mot_de_passe() }}<br><br>

        <label for="mot_de_passe_confirm">Confirmer le mot de passe:</label>
        {{ form.mot_de_passe_confirm() }}<br><br>

        <button type="submit">S'enregistrer</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

   {% if form.errors %}
  <ul class="errors">
    {% for field, errors in form.errors.items() %}
      {% for err in errors %}
        <li>{{ err }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
</body>
</html>